version: 2.1
commands:
   print_pipeline_id:
    parameters:
      id:
        type: String
      steps:
        - run: echo << parameters.id >>
jobs:
  reuseable_job:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - print_pipeline_id:
          id: << pipeline.id >>
  save_hello_world_output:
    docker:
      - image: circleci/node:13.8.0 
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: echo "Hello, World!" > ~/output.txt
      - persist_to_workspace:
          root: ~/
          paths: 
            - output.txt 
  print_output_file:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - attach_workspace:
          at: ~/
      - run: cat ~/output.txt

workflows:
  say-hello-workflow:
    jobs:
      - save_hello_world_output
      - print_output_file:
          requires:
            - save_hello_world_output
      - reuseable_job         
