version: 2.1

jobs:
  save_hello_world_output:
    docker:
      - image: circleci/node:13.8.0 
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: echo "Hello, World!" > ~/output.txt
      - persist_to_workspace:
          root: ~/
          paths: 
            - output.txt    
workflows:
  say-hello-workflow:
    jobs:
      - save_hello_world_output
